In [6]:
import pandas as pd
import numpy as np
import datetime as datetime

df = pd.read_csv(r"E:/工作/河北项目/国网试题汇编/20191208赵佩-试题书/分类_家庭用电安全隐患分析-试题/分类_家庭用电安全隐患分析_试题/train_label.csv", low_memory=False)
df['hour'] = df['Time'].map(lambda x: datetime.datetime.strptime(x, '%H:%M:%S').hour)
hour_group_count = df.groupby('hour')["hour"].count()
top3_hour = hour_group_count.sort_values(ascending=False)[:3]

output = pd.DataFrame({"Hour":top3_hour.index.values,"Count":top3_hour.values})
output.to_csv(r"E:/工作/河北项目/国网试题汇编/20191208赵佩-试题书/分类_家庭用电安全隐患分析-试题/分类_家庭用电安全隐患分析_答案/1-3.csv", index=False)

       Date      Time Global_active_power
0  1/1/2007  00:00:00               2.580
1  1/1/2007  00:01:00               2.552
2  1/1/2007  00:02:00               2.550
3  1/1/2007  00:03:00               2.550
4  1/1/2007  00:04:00               2.554